.fill-title {
    > * {
        @apply text-transparent;
    }

    &.gray-green-vivid {
        > * {
            background: linear-gradient(
                to right,
                var(--color-green-vivid) 50%,
                var(--color-gray-lightest) 50%
            );
            background-size: 200% 100%;
            background-position-x: 100%;
            background-clip: text;
            -webkit-background-clip: text;
        }
    }
    
    &.gray-green-dark {
        > * {
            background: linear-gradient(
                to right,
                var(--color-green-dark) 50%,
                var(--color-gray-lightest) 50%
            );
            background-size: 200% 100%;
            background-position-x: 100%;
            background-clip: text;
            -webkit-background-clip: text;
        }
    }

    &.gray-green-medium {
        > * {
            background: linear-gradient(
                to right,
                var(--color-green-medium) 50%,
                var(--color-gray-lightest) 50%
            );
            background-size: 200% 100%;
            background-position-x: 100%;
            background-clip: text;
            -webkit-background-clip: text;
        }
    }
    
    &.white-green-vivid {
        > * {
            background: linear-gradient(
                to right,
                var(--color-green-vivid) 50%,
                var(--color-white) 50%
            );
            background-size: 200% 100%;
            background-position-x: 100%;
            background-clip: text;
            -webkit-background-clip: text;
        }
    }

    &.green-black {
        > * {
            background: linear-gradient(
                to right,
                var(--color-black) 50%,
                #00784630 50%
            );
            background-size: 200% 100%;
            background-position-x: 100%;
            background-clip: text;
            -webkit-background-clip: text;
        }
    }

    &.green-green-vivid {
        > * {
            background: linear-gradient(
                to right,
                var(--color-green-vivid) 50%,
                #00784630 50%
            );
            background-size: 200% 100%;
            background-position-x: 100%;
            background-clip: text;
            -webkit-background-clip: text;
        }
    }

    &.green-medium-green-vivid {
        > * {
            background: linear-gradient(
                to right,
                var(--color-green-vivid) 50%,
                var(--color-green-medium) 50%
            );
            background-size: 200% 100%;
            background-position-x: 100%;
            background-clip: text;
            -webkit-background-clip: text;
        }
    }
}

.reveal-text {
    @apply relative overflow-hidden will-change-transform;

    &.completed {
        @apply overflow-visible;

        .split-line {
            @apply overflow-visible;
        }
    }

    .split-line {
        @apply relative overflow-hidden will-change-transform;
    
        * {
            @apply will-change-transform;
        }
    }
}
