@layer utilities {
    .title-72 {
        @apply text-5xl sm:text-6xl lg:text-7xl leading-[.9] font-bold font-heading uppercase;
    }

    .title-96 {
        @apply text-6xl sm:text-7xl lg:text-8xl leading-[.9] font-bold font-heading uppercase;
    }
}